/* ==============================  global  =========================== */

@font-face {
    font-family: 'Roboto-Italic';
    src        : url('fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src        : url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src        : url('fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src        : url('fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    min-width  : 320px;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
    font-size  : 14px;
    line-height: normal;
}

img {
    max-width: 100%;
    height   : auto;
}

.container {
    position: relative;
}

.section-title {
    display    : inline-flex;
    align-items: center;
}

.section-title hr {
    margin-right    : 1rem;
    border          : 1px solid gray;
    background-color: gray;
}

.section-title span {
    font-weight: bold;
}

.section-title span::first-letter {
    text-transform: capitalize;
}

.nav-right {
    position : absolute;
    top      : 45%;
    right    : -1%;
    /* height: 270px; */
}

/*===================================  header  ==================================*/
.header {
    background     : url('/images/header-bg.png') center center;
    background-size: cover;
    height         : auto;
}

.header-top {
    padding-top: 2.125rem;
}

.header-content {
    color: #ffffff;
}

.header-content span {
    text-transform: uppercase;
}

.header-content p {
    font-size: 1.125rem;

}

.header-content a {
    background                : transparent;
    padding                   : 1rem 2rem;
    border                    : 2px solid #ffffff;
    border-top-right-radius   : 2rem;
    border-top-left-radius    : 2rem;
    border-bottom-left-radius : 2rem;
    border-bottom-right-radius: 2rem;
    color                     : #ffffff;
    text-decoration           : none;
    transition                : 0.2S;
    font-size                 : 0.875rem;
}

.header-content a:hover {
    opacity: 0.5;
}

.dropdown-menu {
    background: rgba(116, 226, 217, 0.4);
}

.dropdown-item {
    color     : #ffffff;
    font-size : 3rem;
    font-style: italic;
}

.dropdown-item:hover {
    color: #9cb269;
}


/*======================================  about  =========================================*/

.about-item {
    margin-top: 2rem;
}

.about-content {
    /* align-items: start; */
    color: #8B4513;
}

.about-content a {
    font-weight   : bold;
    text-transform: uppercase;
    color         : #2a4f37;
}

.about-content a:hover {
    color: dodgerblue;
}

/* ===============================  shedule  =============================================== */
.level {
    margin-top: 4rem;
}

.level-item {
    display         : flex;
    flex-direction  : column;
    position        : relative;
    background-color: #9cb269;

    margin-bottom: 1rem;
    z-index      : 100;
    color        : #ffffff;
    line-height  : 0.8rem;
}

.level-item:first-child {
    background-color: #c8d4ac;
}

.level-item:nth-child(2) {
    background-color: #b2c38a;
}

.level-number {
    position : absolute;
    top      : 23%;
    left     : 25%;
    z-index  : -100;
    font-size: 8.25rem;
    color    : #ffffff;
    opacity  : .1;
}

.level-item-title {
    line-height  : 0.4rem;
    margin-bottom: 1.5rem;
}

.level-item-title span {
    font-size     : 1.2rem;
    text-transform: uppercase;
    font-weight   : bold;
}

.week-day,
.cost {
    font-weight: bold;
}

.cost {
    margin-bottom: 1.5rem;
}

.level-item a {
    border                    : 2px solid #ffffff;
    border-top-left-radius    : 1.2rem;
    border-top-right-radius   : 1.2rem;
    border-bottom-left-radius : 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding                   : 0.8rem;
    margin-top                : 2rem;
    font-weight               : bold;
    color                     : #ffffff;
    text-align                : center;
}

.level-item a:hover {
    color          : dodgerblue;
    text-decoration: none;
    border         : 2px solid dodgerblue;
}

.level-item a::first-letter {
    text-transform: capitalize;
}

/* ===================================  modal window  ============================= */
.modal {
    font-family: 'Roboto-Regular';
}

.modal-content {
    padding: 4rem 2rem;
}

.modal-header {
    border: none;
}

.modal-title {
    font-size  : 2rem;
    font-weight: bold;
}

.modal-body {
    margin-bottom: 2rem;
}

.modal-body p {
    font-size: 1rem;
}

.modal form {
    margin-top: 3rem;
}

.modal-body input {
    border       : none;
    border-bottom: 2px solid gray;
}

.modal-footer {
    border: none;
}

.modal-footer button {
    background: #9cb269;
}

.form-check-input {
    width : 1.2rem;
    height: 1.2rem;
    color : #9cb269;
}

.saveButton {
    border       : 2px solid #9cb269;
    border-radius: 3rem;
    color        : #ffffff;
}

.saveButton:hover {
    background: none;
    color     : #9cb269;
}

/* =================================  lessons  ====================================     */
.lessons-item {
    align-items: center;
}

.lessons-item:nth-child(even) {
    flex-direction: row-reverse;
}

.lessons-content {
    text-align  : left;
}

.lessons-content span,
.lessons-content p {
    color: #8B4513;
}

.lessons-content span {
    /* font-size  : 1.3rem; */
    font-weight: bold;
}

.lessons-content p {
    margin-top : 1.5rem;
}

.lessons-content p::first-letter {
    text-transform: capitalize;
}

/* ===========================================  comments  ================================= */
.carousel {
    display   : flex;
    padding   : 0;
    margin-top: 3rem;
}

.carousel-inner {
    margin-left : 12%;
    margin-right: 12%;
    padding     : 1rem;
    box-shadow  : 0 0 5px;
}

.carousel-item {
    position     : relative;
    text-align   : left;
    padding-top  : 6rem;
    margin-bottom: 3rem;
}

.slider-photo {
    border       : 0;
    border-radius: 50%;
    margin-right : 2rem;
    float        : left;
}

.comment-content {
    display       : flex;
    flex-direction: column;
}

.comment-content p {
    font-family: 'Roboto-Regular';
    color      : #8B4513;
}

.comment-content span {
    font-size     : 1.4rem;
    font-weight   : bold;
    text-transform: capitalize;
}

.comment-item-social {
    display    : inline-flex;
    flex-flow  : nowrap row;
    align-items: top;
}

.comment-item-social p {
    font-weight: bold;
}

.comment-item-social a {
    margin-left: 1rem;
    font-size  : 1.2rem;
    color      : #91aa59;
}

.comment-item-social a:hover {
    color: #2a4f37;
}

.slider-circles {
    position: absolute;
    left    : 44rem;
    top     : 2rem;
}

.slide li {
    width           : 0.7rem;
    height          : 0.7rem;
    background-color: #91aa59;
    margin-right    : 1.6rem;
}

.slide li:last-child {
    margin-right: 0;
}

.carousel-indicators .active {
    width : 0.8rem;
    height: 0.8rem;
}

/* ======================================  contacts  ========================================= */
.contacts-map {
    /* display          : flex; */
    background        : url('images/contacts-map.jpg') center center;
    background-size   : cover;
    height            : auto;
    padding-top       : 3rem;
    margin-top        : 2rem;
    /* box-shadow     : 0 0 5px; */
    border            : 2px solid #9cb269;
}

.contacts-content {
    background-color: rgb(145, 170, 89);
    text-align      : left;
    margin-left     : 3rem;
    margin-bottom   : 3rem;
    padding         : 2.5rem;
    color           : #ffffff;
    box-shadow      : 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.contacts-content span {
    font-weight: bold;
}

/* ================================  footer  ================================ */
footer {
    background-color: #91aa59;
    margin-top      : 3rem;
}

.footer-content {
    display        : flex;
    justify-content: space-between;
    padding        : 1rem 0;
    align-items    : center;
}

.footer-content p {
    color: #ffffff;
}

.footer-social a {
    color       : black;
    margin-right: 1.3rem;
}

.footer-social a:hover {
    color: #ffffff;
}

.footer-social a:last-child {
    margin-right: 0;
}








/* ================================  media  ================================== */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

@media (min-width: 320px) {
    .nav-right {
        display: none;
    }

    .section-title {
        margin-top: 2rem;
    }

    .section-title hr {
        width: 1rem;
    }

    .section-title span {
        font-size: 1.3rem;
    }

    .header {
        background     : url('/images/header-bg-mobi.png') center center;
        background-size: cover;
        height         : auto;
    }

    .main-menu {
        text-align: right;
    }

    .header-content {
        padding-bottom: 2rem;
    }

    .header-content span {
        font-size: 1.875rem;
    }

    .header-content a {
        font-size: 0.688rem;
        padding  : 0.2rem;
    }

    .header-photo {
        margin-top: 0;
    }

    .dropdown-menu {
        margin-left: -100%;
    }

    .dropdown-item {
        font-size: 1.125rem;
    }

    .about-item {
        flex-wrap: wrap;
    }

    .level {
        display  : flex;
        flex-wrap: wrap;
    }

    .lessons-item {
        flex-wrap: wrap;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .nav-right {
        display: unset;
    }

    .section-title {
        margin-top: 4rem;
    }

    .section-title hr {
        width: 1.5rem;
    }

    .section-title span {
        font-size: 2rem;
    }

    .header-content {
        padding-bottom: 0;
    }

    .header-content span {
        font-size: 3rem;
    }

    .header-content p {
        font-size: 1.125rem;
    }

    .header-content a {
        font-size: 0.688rem;
        padding  : 0.5rem 1rem;
    }

    .header-photo {
        margin-top: -1.2rem;
    }

    .about-item {
        display        : flex;
        flex-wrap      : nowrap;
        justify-content: space-around;
    }

    .level {
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header {
        background     : url('/images/header-bg.png') center center;
        background-size: cover;
        height         : auto;
    }

    .header-content p {
        margin-top: 2rem;
    }

    .header-content a {
        padding  : 1rem 2rem;
        font-size: 0.875rem;
    }

    .main-menu {
        text-align: center;
    }

    .header-photo {
        margin-top: 0;
    }

    .dropdown-menu {
        margin-left: -60%;
    }

    .dropdown-item {
        font-size: 2.25rem;
    }

    .lessons-content span {
        font-size: 1.125rem;
    }

    .lessons-content p {
        font-size: 1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header-content p {
        margin-top: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header-content span {
        font-size: 3.625rem;
    }

    .header-content p {
        font-size: 1.125rem;
    }

    .lessons-content span {
        font-size: 1.75rem;
    }

    .lessons-content p {
        font-size: 1rem;
    }
}