@font-face {
    font-family: 'Roboto-Italic';
    src        : url('fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src        : url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src        : url('fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src        : url('fonts/Roboto-Regular.ttf') format('truetype');
}

html {
    font-size  : 16px;
    line-height: 1rem;
}

body {
    font-family: Roboto-Light;
    /* min-width  : 540px; */
}

.nav-right {
    position: absolute;
    top     : 50%;
    left    : 98%;
}

.section-title {
    display    : inline-flex;
    align-items: center;
}

.section-title hr {
    width           : 1.5rem;
    margin-right    : 1rem;
    border          : 1px solid gray;
    background-color: gray;
}

.section-title span {
    font-family: Roboto-Regular;
    font-size  : 2rem;
    font-weight: bold;
}

.section-title span::first-letter {
    text-transform: capitalize;
}
/* ======================================================================= */
.lessons-content {
    margin-top: 9rem;
}

.lessons-content span {
    font-size  : 1.3rem;
    font-weight: bold;
    font-style: italic;
}

.lessons-content p {
    margin-top: 1.5rem;
}

.lessons-content p::first-letter {
    text-transform: capitalize;
}