@font-face {
    font-family: 'Roboto-Italic';
    src        : url('fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src        : url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src        : url('fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src        : url('fonts/Roboto-Regular.ttf') format('truetype');
}

html {
    font-size  : 16px;
    line-height: 1rem;
}

body {
    font-family: Roboto-Light;
}

section {
    padding   : 3rem 0;
    /* outline: 2px solid blue; */
}

.container {
    padding-left    : 4rem;
    padding-right   : 4rem;
    position        : relative;
    /* outline      : 2px solid red; */
}

/*===================================  header  ==================================*/

.header {
    background-image       : url('images/header-bg.png');
    -moz-background-size   : 100%;
    -webkit-background-size: 100%;
    -o-background-size     : 100%;
    background-size        : 100%;
    background-repeat      : no-repeat;
    padding-top            : 1.5rem;
}

.header-top {
    display        : inline-flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
}

.header-top p {
    font-family: Roboto-Regular;
    font-weight: bold;
}

.header-left {
    padding-top   : 6rem;
    padding-bottom: 11rem;
    flex-flow     : column nowrap;
    color         : #ffffff;
}

.header-left span {
    font-size     : 3rem;
    line-height   : 1.2em;
    text-transform: uppercase;
}

.header-left p {
    font-size    : 1.125rem;
    margin-top   : 1rem;
    margin-bottom: 4rem;
}

.header-left a {
    background                : transparent;
    padding                   : 1rem 2rem;
    border                    : 2px solid #ffffff;
    border-top-right-radius   : 2rem;
    border-top-left-radius    : 2rem;
    border-bottom-left-radius : 2rem;
    border-bottom-right-radius: 2rem;
    margin-top                : 2.4rem;
    color                     : #ffffff;
    text-decoration           : none;
}

.header-photo {
    width   : 48%;
    position: absolute;
    top     : 0rem;
    left    : 48%;
    z-index : 100;
}

.nav-right {
    position: absolute;
    top     : 35%;
    left    : 98%;
}

/* =================  navbar  ==================== */
*,
*:before,
*:after {
    box-sizing: border-box;
}

label {
    background-color: #91aa59;
}

label .menu {
    position          : absolute;
    right             : 44%;
    top               : -7rem;
    z-index           : 200;
    width             : 200px;
    height            : 200px;
    border-radius     : 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition        : .5s ease-in-out;
    box-shadow        : 0 0 0 0 #91aa59, 0 0 0 0 #91aa59;
    cursor            : pointer;
}

label .hamburger {
    position                : absolute;
    top                     : 135px;
    left                    : 50%;
    width                   : 1.8rem;
    height                  : 2px;
    background              : #fff;
    display                 : block;
    -webkit-transform-origin: center;
    transform-origin        : center;
    -webkit-transition      : .5s ease-in-out;
    transition              : .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition        : .5s ease-in-out;
    content           : "";
    position          : absolute;
    display           : block;
    width             : 100%;
    height            : 100%;
    background        : #fff;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow   : 0 0 0 50vw #91aa59, 0 0 0 50vh #91aa59;
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform        : rotate(45deg);
}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform        : rotate(90deg);
    bottom           : 0;
}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform        : rotate(90deg);
    top              : 0;
}

label input:checked+.menu+ul {
    opacity: 1;
}

label ul {
    z-index           : 300;
    position          : absolute;
    top               : 50%;
    left              : 40%;
    -webkit-transform : translate(-50%, -50%);
    transform         : translate(-50%, -50%);
    opacity           : 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition        : .25s 0s ease-in-out;
}

label ul li {
    color          : #fff;
    list-style-type: none;
}

label a {
    margin-bottom: 0.5em;
    display      : block;
    color        : #fff;
    font-family  : 'Roboto-Regular';
    font-size    : 2rem;
    font-weight  : bold;
}

label a:hover {
    color          : rgb(83, 75, 75);
    text-decoration: none;
}

/*======================================  about  =========================================*/

.about {
    margin-top: 2rem;
}

.about-content {
    display    : flex;
    flex-flow  : column nowrap;
    align-items: start;
}

.section-title {
    display    : inline-flex;
    align-items: center;
}

.section-title hr {
    width           : 1.5rem;
    margin-right    : 1rem;
    border          : 1px solid gray;
    background-color: gray;
}

.section-title span {
    font-family: Roboto-Regular;
    font-size  : 2rem;
    font-weight: bold;
}

.section-title span::first-letter {
    text-transform: capitalize;
}

.about-content a {
    font-size     : 0.8rem;
    font-weight   : bold;
    text-transform: uppercase;
    color         : #2a4f37;
}

.about-photo {
    display        : flex;
    justify-content: end;
}

.about-photo img:first-child {
    position: absolute;
    width   : 22%;
    z-index : 100;
    top     : 51%;
    right   : 48%;
}

.about-photo img:last-child {
    width     : 80%;
    margin-top: 1rem;
    z-index   : 0;
}

.about-photo img:nth-child(2) {
    position: absolute;
    z-index : -100;
    top     : 30%;
    right   : 51%;
}

/* ===============================  shedule  =============================================== */
.level {
    display        : flex;
    justify-content: center;
    margin-top     : 4.375rem;
}

.level-item {
    display         : flex;
    flex-direction  : column;
    position        : relative;
    background-color: #9cb269;
    padding-left    : 3rem;
    padding-right   : 3rem;
    padding-bottom  : 4rem;
    padding-top     : 7rem;
    margin          : 0 auto;
    z-index         : 100;
    color           : #ffffff;
    line-height     : 0.8rem;
}

.level-item:first-child {
    background-color: #c8d4ac;
}

.level-item:nth-child(2) {
    background-color: #b2c38a;
}

.level-number {
    position   : absolute;
    top        : 23%;
    left       : 25%;
    z-index    : -100;
    font-family: Roboto-Regular;
    font-size  : 8.25rem;
    color      : #ffffff;
    opacity    : .1;
}

.level-item-title {
    line-height  : 0.4rem;
    margin-bottom: 1.5rem;
}

.level-item-title span {
    font-family   : Roboto-Regular;
    font-size     : 1.2rem;
    text-transform: uppercase;
    font-weight   : bold;
}

.level-item-title p {
    font-size: 0.875rem;
}

.week-day,
.cost {
    font-family: Roboto-Regular;
    font-weight: bold;
}

.cost {
    margin-bottom: 1.5rem;
}

.level-item a {
    border                    : 2px solid #ffffff;
    border-top-left-radius    : 1.2rem;
    border-top-right-radius   : 1.2rem;
    border-bottom-left-radius : 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding                   : 0.8rem 2.5rem;
    margin-top                : 2rem;
    font-weight               : bold;
    color                     : #ffffff;
}

.level-item a::first-letter {
    text-transform: capitalize;
}

/* =================================  lessons  ====================================     */
.lessons-item {
    display        : flex;
    justify-content: space-around;
    padding        : 2rem 0;
}

.lessons-item:nth-child(4),
.lessons-item:last-child {
    flex-direction: row-reverse;
}

.lessons-content {
    margin-top: 9rem;
}

.lessons-content span {
    font-size  : 1.3rem;
    font-weight: bold;
}

.lessons-content p {
    font-size : 0.875rem;
    margin-top: 1.5rem;
}

.lessons-content p::first-letter {
    text-transform: capitalize;
}

.lessons-item img {
    width: 35%;
}

.shift {
    margin-top: -5rem;
}

/* ===========================================  comments  ================================= */
.carousel {
    display: flex;
    padding: 0;
}

.carousel-inner {
    margin-left : 18%;
    margin-right: 18%;
}

.carousel-item {
    position     : relative;
    text-align   : left;
    padding-top  : 6rem;
    margin-bottom: 4rem;
    box-shadow   : 0 0 10px 5px rgba(221, 221, 221, 1);
}

.slider-photo {
    border       : 0;
    border-radius: 50%;
    margin-right : 2rem;
    float        : left;
}

.comment-content {
    display       : flex;
    flex-direction: column;
}

.comment-content span {
    font-size     : 1.4rem;
    font-weight   : bold;
    text-transform: capitalize;
}

.comment-item-social {
    display    : inline-flex;
    flex-flow  : nowrap row;
    align-items: top;
}

.comment-item-social p {
    font-weight: bold;
}

.comment-item-social a {
    margin-left: 1rem;
    font-size  : 1.2rem;
    color      : #91aa59;
}

.comment-item-social a:hover {
    color: #2a4f37;
}

.slider-circles {
    position: absolute;
    width   : 15%;
    left    : 34rem;
    top     : 3rem;
}

.slide li {
    width           : 0.7rem;
    height          : 0.7rem;
    background-color: #91aa59;
    margin-right    : 1.6rem;
}

.slide li:last-child {
    margin-right: 0;
}

.carousel-indicators .active {
    width: 0.8rem;
    height: 0.8rem;
}

/* ======================================  contacts  ========================================= */
.contacts-map {
    display          : flex;
    background-image : url('/images/contacts-map.jpg');
    background-repeat: no-repeat;
    padding-top      : 3rem;
    margin-top       : 2rem;
    box-shadow       : 0 0 5px;
}

.contacts-content {
    background-color: rgb(145, 170, 89);
    width           : 25%;
    text-align      : left;
    margin-left     : 3rem;
    margin-bottom   : 3rem;
    padding         : 2.5rem;
    color           : #ffffff;
    box-shadow      : 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.contacts-content span {
    font-weight: bold;
}

/* ================================  footer  ================================ */
footer {
    background-color: #91aa59;
}

.footer-content {
    display        : flex;
    justify-content: space-between;
    padding        : 1rem 0;
    align-items    : center;
}

.footer-content p {
    color: #ffffff;
}

.footer-social a {
    color       : black;
    margin-right: 1.3rem;
}

.footer-social a:hover {
    color: #ffffff;
}

.footer-social a:last-child {
    margin-right: 0;
}