@font-face {
    font-family: 'Roboto-Italic';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

html {
    font-size: 16px;
    line-height: 1rem;
}

body {
    font-family: Roboto-Light;
}

section {
    padding: 3rem 0;
}

.container {
    padding-left: 4rem;
    padding-right: 4rem;
    outline: 2px solid red;
}

/*===================================  header  ==================================*/
.header {
    background-image: url('images/header-bg.png');
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header-top {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-content {
}

.header-left {
}


