@font-face {
    font-family: 'Roboto-Italic';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

html {
    font-size: 16px;
    line-height: 1rem;
}

body {
    font-family: Roboto-Light;
}

section {
    padding: 3rem 0;

    outline: 2px solid blue;
}

.container {
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;

    outline: 2px solid red;
}

/*===================================  header  ==================================*/
.header {
    background-image: url('images/header-bg.png');
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 1.5rem;
}

.header-top {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

    .header-top p {
        font-family: Roboto-Regular;
        font-weight: bold;
    }

.header-left {
    padding-top: 6rem;
    padding-bottom: 11rem;
    flex-flow: column nowrap;

    color: #ffffff;
}

    .header-left span {
        font-size: 3rem;
        line-height: 1.2em;
        text-transform: uppercase;
    }

    .header-left p {
        font-size: 1.125rem;
        margin-top: 1rem;
    }

    .header-left button {
        background: transparent;
        padding: 1rem 2rem;
        border: 2px solid #ffffff;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        margin-top: 2.4rem;

        color: #ffffff;
    }

.header-photo {
    width: 48%;
    position: absolute;
    top: 0rem;
    left: 48%;
}

.nav-right {
    position: absolute;
    top: 35%;
    left: 98%;
}